@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sample Employee Database using CRUD Functions</h1>
    <p>This is a simple CRUD application using .Net Core as a framework and Entity Framework Core for the ORM, and SQL Server for a relational database.</p>
</div>
