@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sample Employee Database using CRUD Functions</h1>
    <p>This is a sample ASP .Net Core CRUD application using Entity Framework Core for an ORM and SQL Server for a relational database.</p>
</div>
