<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/83991ee8-ccc8-440e-acd3-e8aa746804a7/resourceGroups/crudresources/providers/Microsoft.Web/sites/Asp-netCoreMvcCrud</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://asp-netcoremvccrud.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>asp-netcoremvccrud.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Asp-netCoreMvcCrud</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Asp-netCoreMvcCrud</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>